:root {
  /* header and navigation */
  --header-bg-color: rgba(24, 24, 24, 1);
  --header-text-color: rgba(235, 235, 235, 0.75);
  --header-heigth: 4rem;
  --header-width: 100vw;

  /* main */
  --main-bg-color: rgba(24, 24, 24, 1);
  --main-text-color: rgba(235, 235, 235, 0.75);
  --main-min-heigth: calc(100vh - 8rem);
  --main-max-width: 1024px;

  /* footer */
  --footer-bg-color: rgba(24, 24, 24, 1);
  --footer-text-color: rgba(235, 235, 235, 0.75);
  --footer-heigth: 4rem;
  --footer-width: 100vw;


  --color-text: rgba(235, 235, 235, 0.75);
  --color-text-hover: rgba(235, 235, 235, 1);
  --a-text-color: rgba(46, 165, 234, 1);
  --a-text-color-hover: rgba(24, 24, 24, 1);
  --a-bg-color-hover: rgba(46, 165, 234, 1);

  --main-border-color: rgba(46, 165, 234, 1);
}